<!DOCTYPE html>
<html>
<head>
    <title>Video Review</title>
</head>
<body>
    <h1>Video Feed with Bounding Boxes</h1>

    {% if videos %}
        <p>Reviewing video {{ current_video_index + 1 }} of 10</p>
        <img src="{{ url_for('video_feed', video_path='/home/xb5/label_app/static/' + videos[current_video_index].videoname + '.mp4', file_path='/home/xb5/label_app/static/' + videos[current_video_index].videoname + '.txt', target_1=videos[current_video_index].human1, target_2=videos[current_video_index].human2) }}" width="480" height="320">
        <form action="{{ url_for('submit_result') }}" method="post">
            <input type="hidden" name="video_id" value="{{ videos[current_video_index].id }}">
            <input type="hidden" name="current_video_index" value="{{ current_video_index }}">
            <p>Do the labeled people belong to the same group?</p>
            <button type="submit" name="result" value="yes">Yes</button>
            <button type="submit" name="result" value="no">No</button>
        </form>
    {% else %}
        <p>No videos available for review.</p>
    {% endif %}
</body>
</html>

 